/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body { margin: 0; padding: 0; }

 #dash_main{
   background: url("https://picsum.photos/id/392/5580/3720") no-repeat fixed center / cover;
   position: flex;
   border: 100px solid transparent;
   min-height: 800px;
 }

.control_panel, .account_summary{
  background-color: #ffffff;
  opacity: 0.75;
  padding: 10px;
}

.page_title{
  align-self: center;
  text-align: center;
}

.hidden{
  display: none;
}

.form_block_container{
  display: flex;
  width: 1000px;
  background-color: #6b767e;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-color: #2c2f33;
  border-width: 10px;

}

.form_block{
  background-color:	#ffffff;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form_header{
  background-color: #7289da;
  width: 100%;
  text-align: center;
  border-bottom: solid;
  border-top: solid;
  border-color: #2c2f33;
  border-width: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.log_block_container{
  display: flex;
  width: 750px;
  background-color: #6b767e;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-color: #2c2f33;
  border-width: 2px;

}

.log_header{
  background-color: #7289da;
  width: 100%;
  text-align: center;
  border-bottom: solid;
  border-color: #2c2f33;
  border-width: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.log_block{
  display: flex;
  width: 100%;
}

li{
  list-style-type: none;
}

tr.hover_row:hover{
  background-color: #626e72 !important;
  cursor: pointer;
}

tr a{
  text-decoration: none;
  color: #000000;
  min-height:100%;
  width:100%;
}

.log_block ul{
  padding: 0;
}

.pending, .pending div{
  background-color: #ffe500;
}

.rejected, .rejected div {
  background-color: #ce2323;
}

.approved, .approved div {
  background-color: #40b33f;
}

.old_value_block, .new_value_block{
  border-right: solid;
  border-color: #2c2f33;
  border-width: 2px;
}

.new_value_block, .old_value_block, .comments_block{
  text-align: center;
  background-color:	#ffffff;
  width: 33.33%;
}

#top_nav_bar{
  background-color: #23272a;
  color: #ffffff;
  display: inline-block;
  z-index: 1;
  width: 100%;
}

#top_nav_bar a:visited, #top_nav_bar a{
  color: #ffffff;
  padding: 10px;
}

#alert_box{
  background: rgba(255, 255, 255, 0.8);
  z-index: 2;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

body{
  background-color: 	#99aab5;
}

.nav_link, #account_overlay{
  display: inline-block;
}

.nav_link{
  float: left;
  background-color:	#7289da;
  border-radius: 25px;
  border: 5px solid #23272a;

}

#account_overlay{
  float: right;
}

.status_icon{
  height: 30px;
  width: 30px

}

table.requests_table {
  border: 1px solid #1D2CD2;
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.requests_table td, table.requests_table th {
  border: 1px solid #AAAAAA;
  padding: 3px 0px;
}
table.requests_table tbody td {
  font-size: 13px;
}
table.requests_table tr:nth-child(even) {
  background: #D0E4F5;
}
table.requests_table thead {
  background: #7289DA;
  background: -moz-linear-gradient(top, #95a6e3 0%, #8094dd 66%, #7289DA 100%);
  background: -webkit-linear-gradient(top, #95a6e3 0%, #8094dd 66%, #7289DA 100%);
  background: linear-gradient(to bottom, #95a6e3 0%, #8094dd 66%, #7289DA 100%);
  border-bottom: 2px solid #444444;
}
table.requests_table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}
table.requests_table thead th:first-child {
  border-left: none;
}

table.requests_table tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #23272A;
  background: -moz-linear-gradient(top, #5a5d5f 0%, #393c3f 66%, #23272A 100%);
  background: -webkit-linear-gradient(top, #5a5d5f 0%, #393c3f 66%, #23272A 100%);
  background: linear-gradient(to bottom, #5a5d5f 0%, #393c3f 66%, #23272A 100%);
  border-top: 2px solid #444444;
}
table.requests_table tfoot td {
  font-size: 14px;
}
table.requests_table {
  min-width: 1500px;
}
table.requests_table tfoot .links {
  text-align: right;
}
table.requests_table tfoot .links a{
  display: inline-block;
  background: #7289DA;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.approvals_bar_container{
  display: flex;
  width: 200px;
  background-color: #6b767e;
  align-items: center;
  border-style: solid;
  border-color: #2c2f33;
  border-width: 2px;
  border-radius: 5px;

}

.approvals_bar_block{
  text-align: center;
  width: 25%;
  border-style: solid;
  border-color: #2c2f33;
  border-color: #2c2f33;
  border-width: 2px;
}

.notes_container{
  display: flex;
  width: 600px;
  background-color: #ffffff;
  align-items: left;
  border-style: solid;
  border-color: #2c2f33;
  border-width: 2px;
  border-radius: 5px;
  flex-direction: column;

}

.notes_container div{
  border-bottom: 1px solid #2c2f33;
}
