/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body { margin: 0; padding: 0; }

 #dash_main{
   background: url("https://picsum.photos/id/392/5580/3720") no-repeat fixed center / cover;
   position: flex;
   border: 100px solid transparent;
   min-height: 800px;
 }

 textarea{
   resize: none;
 }

.control_panel, .account_summary{
  background-color: #ffffff;
  opacity: 0.75;
  padding: 10px;
}

.page_title{
  align-self: center;
  text-align: center;
}

.hidden{
  display: none !important;
}

.form_block_container{
  display: flex;
  width: 900px;
  background-color: #6b767e;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-color: #2c2f33;
  border-width: 10px;
  margin: auto;
}

.form_block{
  background-color:	#ffffff;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.column{
  display: flex;
  flex-direction: column;
}

.daily_form_block_line{
  display: flex;
  justify-content: center;
}

.form_block_line{
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
}

.form_block_line_left{
  display: flex;
  width: 150px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}
.form_block_line_right{
  display: flex;
  width: 730px;
  border: 1px solid black;
  padding-left: 5px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form_block_line_item{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 10px;
}

#request_worker_secondary1, #request_worker_secondary2, #request_worker_secondary3, #request_worker_secondary4, #request_worker_secondary5{
  text-overflow: ellipsis;
  width: 140px;
}

.form_block_line label{
  padding-left: 10px;
}

.form_day_block{
  display: flex;
  border: 5px solid black;
  background-color: #ddf0cc;
  flex-direction: column;
}

#secondaries{
  display: flex;
  margin-right: 10px;
}

#request_worker_primary{
  flex-grow: 0;
}

.grow{
  flex-grow: 1;
}

.tall{
  height: 100px;
}

.left_align{
  justify-content: flex-start;
}

.form_header{
  background-color: #7289da;
  width: 100%;
  text-align: center;
  border-bottom: solid;
  border-top: solid;
  border-color: #2c2f33;
  border-width: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.log_block_container{
  display: flex;
  width: 750px;
  background-color: #6b767e;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-color: #2c2f33;
  border-width: 2px;

}

.log_header{
  background-color: #7289da;
  width: 100%;
  text-align: center;
  border-bottom: solid;
  border-color: #2c2f33;
  border-width: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.log_block{
  display: flex;
  width: 100%;
}

li{
  list-style-type: none;
}

tr.hover_row:hover{
  background-color: #626e72 !important;
  cursor: pointer;
  position: relative;
}

tr a{
  text-decoration: none;
  color: #000000;
  min-height:100%;
  width:100%;
}

.log_block ul{
  padding: 0;
}

.not_scheduled{
  background-color: #d0d9d8;
}

.pending, .pending div{
  background-color: #ffe500;
}

.rejected, .rejected div {
  background-color: #ce2323;
}

.approved, .approved div {
  background-color: #40b33f;
}

.old_value_block, .new_value_block{
  border-right: solid;
  border-color: #2c2f33;
  border-width: 2px;
}

.new_value_block, .old_value_block, .comments_block{
  text-align: center;
  background-color:	#ffffff;
  width: 33.33%;
}

#top_nav_bar{
  background-color: #23272a;
  color: #ffffff;
  display: inline-block;
  z-index: 1;
  width: 100%;
}

#top_nav_bar a:visited, #top_nav_bar a{
  color: #ffffff;
  padding: 10px;
}

#alert_box{
  background: rgba(255, 255, 255, 0.8);
  z-index: 2;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

body{
  background-color: 	#99aab5;
}

.nav_link, #account_overlay, .inlineblock{
  display: inline-block;
}

.nav_link{
  float: left;
  background-color:	#7289da;
  border-radius: 25px;
  border: 5px solid #23272a;

}

#account_overlay{
  float: right;
}

table.requests_table {
  border: 1px solid #1D2CD2;
  background-color: #EEEEEE;
  text-align: center;
  border-collapse: collapse;
}
table.requests_table td{
  border: 1px solid #AAAAAA;
  padding: 3px 0px;
}
table.requests_table tbody td {
  font-size: 13px;
}
table.requests_table tr:nth-child(even) {
  background: #D0E4F5;
}
table.requests_table thead {
  background: #7289DA;
  background: -moz-linear-gradient(top, #95a6e3 0%, #8094dd 66%, #7289DA 100%);
  background: -webkit-linear-gradient(top, #95a6e3 0%, #8094dd 66%, #7289DA 100%);
  background: linear-gradient(to bottom, #95a6e3 0%, #8094dd 66%, #7289DA 100%);
  border-bottom: 2px solid #444444;
}
table.requests_table thead th {
  /* font-size: 15px; */
  /* font-weight: bold; */
  /* color: #FFFFFF; */
  text-align: center;
  border-left: 2px solid #D0E4F5;
}
table.requests_table thead th:first-child {
  border-left: none;
}

table.requests_table tfoot {
  /* font-size: 14px; */
  font-weight: bold;
  /* color: #FFFFFF; */
  background: #23272A;
  background: -moz-linear-gradient(top, #5a5d5f 0%, #393c3f 66%, #23272A 100%);
  background: -webkit-linear-gradient(top, #5a5d5f 0%, #393c3f 66%, #23272A 100%);
  background: linear-gradient(to bottom, #5a5d5f 0%, #393c3f 66%, #23272A 100%);
  border-top: 2px solid #444444;
}
table.requests_table tfoot td {
  font-size: 14px;
}
table.requests_table {
  /* min-width: 1500px; */
}
table.requests_table tfoot .links {
  text-align: right;
}
table.requests_table tfoot .links a{
  display: inline-block;
  background: #7289DA;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.approvals_bar_container{
  display: inline-flex;
  width: 200px;
  background-color: #6b767e;
  align-items: center;
  border-style: solid;
  border-color: #2c2f33;
  border-width: 2px;
  border-radius: 5px;

}

.approvals_bar_block{
  text-align: center;
  width: 25%;
  border-style: solid;
  border-color: #2c2f33;
  border-color: #2c2f33;
  border-width: 2px;
}

.notes_container{
  display: flex;
  width: 600px;
  background-color: #ffffff;
  align-items: left;
  border-style: solid;
  border-color: #2c2f33;
  border-width: 2px;
  border-radius: 5px;
  flex-direction: column;

}

.notes_container div{
  border-bottom: 1px solid #2c2f33;
}

#request_color{
  width: 200px;
}

.color_ffffff{
  background-color: #ffffff;
}
.color_ff1100{
  background-color: #ff1100;
}
.color_f2bb07{
  background-color: #f2bb07;
}
.color_fc9d0f{
  background-color: #fc9d0f;
}
.color_bf7e1d{
  background-color: #bf7e1d;
}
.color_531199{
  background-color: #531199;
  color: #ffffff
}
.color_249ee0{
  background-color: #249ee0;
}
.color_24290f{
  background-color: #24290f;
  color: #ffffff
}
.color_187d3f{
  background-color: #187d3f;
}
.color_0a5cad{
  background-color: #0a5cad;
}
.color_e30eca{
  background-color: #e30eca;
}

.daytab{
  color: #ffffff;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}

.inactive{
  background-color: #23272a;
  color: #ffffff;
}

.active{
  background-color:	#7289da;
}

.cancelled_day{
  background-image: linear-gradient(45deg, #666 25%, transparent 25%),
  linear-gradient(-45deg, #666 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, #666 75%),
  linear-gradient(-45deg, transparent 75%, #666 75%) !important;
  background-size: 2px 2px !important;
  background-position: 0 0, 1px 0, 1px -1px, 0px 1px !important;
}

.changed{
  color: red;
}

.form_nav_link{
  background-color:	#7289da;
  border-radius: 25px;
  border: 2px solid #23272a;
  text-decoration: none;
  color: #000000;
  text-align: center;
  padding: 10px;
}

.form_nav{
  text-align: center;
}

.red{
  color: #b00909;
  font-weight: bold;
}

/* .displaytable{
  overflow-x: auto;
} */

.displaytable td{
  word-wrap:break-word;
}

.small60{
  min-width: 60px;
  max-width: 61px;
}

.small80{
  min-width: 80px;
  max-width: 81px;
}

.medium{
  min-width: 150px;
  max-width: 151px;
}

.large{
  min-width: 300px;
  max-width: 301px;
}

.requests_table textarea{
  width: 90%
}

textarea, .preserve-lines{
  white-space: pre-wrap;
  text-align: left;
}

.index_status{
    position: absolute;
}

th.rotated{

}

th.rotated > div{
  /* transform: rotate(-90deg); */
  writing-mode:vertical-rl;
  transform:scale(-1);
  /* width:30px; */
  text-align: left;
}

.trflex{

}

.trflex div{
  display: flex;
  align-items: center;
}

.requests_table th{
  border: 2px solid black;
  font-size: 8px;
  font-family: Verdana, Geneva, sans-serif;
}
.wrapper{
  width: 1900px;
 position: relative;
}

.tallheader{
  height: 100px;
  width: 30px;
}

.smallheader{
  height: 50px;
}

.topheader{
  height: 50px;
}

.wmedium{
  width: 80px;
}

.wsmall{
  width: 30px;
}

.wlarge{
  width: 250px;
}

.wverysmall{
  width: 20px;
}

.briefing_details{
  width: 185px;
}

.shift{
  width: 40px;
}

.notes{
  width: 688px;
  padding: 0;
}

.notes_tab_container{
  display: flex;
  height: 56px;
  justify-content: center;
  align-items: flex-end;
}

.notes_tab{
  border: 1px solid black;
  width: 75px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
}

.notes_wrapper{
  display: flex;
  flex-direction: column;
}

.notes_title{
  height: 50px;
  line-height: 100px;
}

.status_wrapper{
  display: flex;
  flex-direction: column;
}

.status_half{
  display: flex;
  justify-content: center;
}

.status_icon{
  height: 15px;
  width: 15px;
}

#divOverlay {
  display: none;
  background-color: #000000;
  text-align: center;
  position: absolute;
  z-index: 10000;
  opacity: 0.95;
  justify-content: center;
}

#notesOverlay {
  width: 690px;
  height: 0px;
  background-color: #000000;
  text-align: center;
  position: absolute;
  z-index: 10000;
  opacity: 0.95;
  justify-content: center;
  display: none;
}

.hover_row{
  position: relative;
}

.closeoverlay, .closeNotesOverlay{
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.overlay_button{
  margin-left: 5px;
  margin-right: 5px;
}

.superoverlay{
  background: #8ea0e1;
  position: absolute;
  height: 0px;
  width: 100%;
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daily_approve, .shrinkoverlay{
  background-color: #ffffff;
  display: inline-block;
  padding: 2px;
  cursor: pointer;
}

.overlay_actions{
  display: flex;
  align-items: center;
}

.superoverlay_actions{
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.superoverlay_button_container{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}

.superoverlay_button_container button{
  width: 130px;
}

.superoverlay_button{
  margin-left: 5px;
  margin-right: 5px;
}

#ajax_alert{
    position: fixed;
    top: 20px;
    background-color: #d0e4f5;
    left: 50%;
    padding: 10px;
    z-index: 3;
    display: none;
}

#notes_workspace{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.closeNotesOverlay{
  margin-top: 5px;
}

.fakebutton{
  cursor: pointer;
  border: 1px solid #767676;
  background-color: #efefef;
  padding: 5px;
  text-decoration: none;
  color: #000000;
  border-radius: 5px;
}

.fakebutton:hover{
  background-color: #a9a9a9;
}

.fakebutton:active{
    background-color: #43484c;
}

.underline{
  text-decoration: underline;
}

.showstatus{
  display: inline-grid;
}

.showstatus li{
  width: 440px;
  height: 26px;
  margin-bottom: 5px;
}

.showstatus .approval_summary{
  float: right;
}

.status_text{
  display: inline-block;
  padding: 4px;
  width: 140px;
}

.day_header{
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.superadmin_buttons{
  display: inline-flex;
  flex-direction: column;
  height: 212px;
  justify-content: space-between;
}

.group_approve{
  cursor: pointer;
}

#filter_container{
}

.filter_block{
  background-color: #d0e4f5;
  border: 2px solid black;
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.filter_line{
  display: inline-flex;
  justify-content: flex-end;
  font-size: 12px;
  padding-left: 5px;
}

.filter_line input{
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 0px;
}

.filter_header{
  background-color: #8ea0e1;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.filter_legend{
  padding-right: 7px;
  padding-top: 2px;
}
